*,
*::after,
*::before {
  box-sizing: content-box;
}

body {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
}

.body3 {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  max-width: 80vmin;
  margin-left: auto;
  margin-right: auto;
}
.hraciPole {
  max-width: 80vmin;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 10%;
  padding: 0px;
  margin-top: 30px;
}

.hraciPole button {
  opacity: 0.5;
  border: 1px solid black;
  padding: 0px;
  margin: 0px;
}

button {
  width: 7vmin;
  height: 7vmin;
}

button:hover {
opacity: 0.6;
}

.profil {
  margin: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: #283e50;
  color: #ffffff;
  font-size: 14px;
  border-radius: 20px 20px 0 0;
}

.hlavicka {
  font-family: 'Lobster', cursive;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.hlavicka2 {
  font-family: 'Lobster', cursive;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  padding-top: 20px;
}

.hlavicka3 {
  font-family: 'Lobster', cursive;
  margin: auto;
  padding: auto;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  padding-top: 20px;
  color: white;
}

.nadpis {
  font-family: 'Lobster', cursive;
  font-weight: normal;
  text-align: center;
}

.navigace {
  display: flex;
}

.navigace-vlevo {
  display: flex;
  flex-grow: 0.8;
  margin-right: 60px;
}

.navigace-vpravo {
  display: flex;
}

.hraju {
  font-size: 18px;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
}

.domecek {
  border: 1px solid  #1fcca4;
  padding: 15px 15px;
  border-radius: 5px;
  background-color:  #1fcca4;
}

a .domecek:hover {
  background-color: #1cbb96;
}

.restart {
  border: 1px solid  #0197f6;
  padding: 15px 15px;
  border-radius: 5px;
  background-color:  #0197f6;
  margin-left: 10px;
}

a .restart:hover{
  background-color: #0090e9;
}

.foto {
  display: block;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.obsah {
  padding: 0 20px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.instrukce {
  font-size: 16px;
  text-align: left;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.instrukce li {
  padding-bottom: 10px;
}

.kolecko3 {
  filter: invert(100%);
  padding-left: 10px;
  margin-bottom: 10px;
}

.krizek,
.kolecko {
  filter: invert(100%);
  max-width: 15px;
  max-height: 15px;
  padding-top: 5px;
}

.odkazy {
  margin: 0;
  padding: 0;
  list-style: none;
}

.odkazy a {
  display: block;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}

.pravidla {
  border-bottom: 2px solid black;
  background-color: #1fcca4;
}

.pravidla a:hover {
  background-color: #1cbb96;
}

.start {
  background-color: #0197f6;
}

.start a:hover {
  background-color: #0090e9;
}

.vysvetleni {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vysvetleni img {
  max-width: 80%;
}

.figure1,
.figure2,
.figure3,
.figure4,
.figure5,
.figure6 {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  font-style: italic;
}

.figcaption1,
.figcaption2,
.figcaption3,
.figcaption4,
.figcaption5,
.figcaption6 {
  font-size: 16px;
  padding-top: 10px;
  text-align: center;
  max-width: 80%;
}

@media screen and (min-width: 540px) {
  .vysvetleni {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .zarovnani {
    flex: 1 1 50%;
    padding: 0px;
    margin: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .profil {
    max-width: 1200px;
  }
}
